/* ALL */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
}

/* BODY */

body{
  background: #ebe6e6;
}
.external-box{
  width: 1000px;
  height: 900px;
  background: #dedddd;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 0px;
}
.container{
  height: 700px;
}

/* entrambe le colonne */

.container > div{
  float: left;
  width: 460px;
  margin-left: 25px;

}

/* colonna dx */

.right{
  background: white;
  height: 650px;
  margin-top: 50px;
}
.right div{
  float: left;
  margin-top: 30px;
}
.rtd,.rmd,.rbd{
  width: 70%;
  margin-left: 30px;
}
.rts{
  width: 20%;
}

/* colonna sx */

.left{
  margin-right: 5px;
  height: 650px;
  margin-top: 50px;
}
.left > div{
  background: white;
}
.left-up{
  height: 400px;
}
.left-down{
  margin-top: 20px;
  height: 230px;
}
#img-profile {
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;
  margin-left: calc((460px / 2) - 50px);
  margin-top: 30px;
}
.img-circle{
  border-radius: 50%;
}
.btn{
  padding-left: calc((460px / 2) - (136.81px / 2));
  padding-top: 40px;
}
.btn-red {
  background-color: #DD5555;
  color: white;
  font-weight: 500;
  padding:10px;
  border-radius: 4px;
  text-decoration: none;
}
.fab{
  color: #bcbebf;
  float: left;
  margin-left: 45px;
  margin-top: 70px;
  width: 80px;
}
.fa-facebook-f{
  margin-left: 80px;
}
.nomi-social span{
  color: #bcbebf;
}
#fb{
  width: 50px;
  margin-left: 60px;
}
#linked{
  width: 50px;
  margin-left: 65px;
}
#twitt{
  width: 50px;
  margin-left: 65px;
}
.right,.left-up,.left-down,footer{
  box-shadow: 1px 1px 1px grey;
}
.container:after{
  content:'';
  display: table;
  clear: both;
}

/* TYPHOGRAPHY & IMAGES & LINKS */

.left-up h1{
  text-align: center;
  font-weight: bold;
  color: #e06565;
  font-size: 25px;
}
.left-up h2{
  text-align: center;
  font-weight: 300;
  color: black;
  font-size: 20px;
}
.left-up p{
  text-align: center;
  font-weight: 400;
  color: #aab1b5;
  font-size: 15px;
  margin-top: 5px;
  padding: 0 20px;
}
footer h2, .right h2{
  text-align: left;
  font-weight: 300;
  color: black;
  font-size: 20px;
  padding: 20px 20px;
}
footer p{
  text-align: left;
  font-weight: 300;
  color: #aab1b5;
  font-size: 13px;
  margin-top: 5px;
  padding: 0 20px;
}
#bold{
  font-weight: 800;
}
a {
  color: #ccc;
  text-decoration: none;
}
.fa:hover,.fab:hover,a:hover {
  color: #dd5555;
}
.btn a:hover {
  color: white;
  background-color: rgb(73, 47, 59);
}
.right h3{
  text-align: left;
  font-weight: 300;
  color: black;
  font-size: 15px;
}
.right p{
  text-align: left;
  font-weight: 300;
  color: #aab1b5;
  font-size: 13px;
  margin-top: 5px;
}
.right img{
  width: 60px;
  height: 80px;
  border-radius: 0;
  margin: 0 10px 0 10px;
}

/* FOOTER */

footer{
  background: white;
  width: 950px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.footer-message{
  height: 100px;
  width: 600px;
}

.fa-heart{
  color: #bcbebf;
  position: absolute;
  bottom: 30px;
  right: 180px;
}
.fa-share{
  color: #bcbebf;
  position: absolute;
  bottom: 30px;
  right: 120px;
}
.fa-star{
  color: #bcbebf;
  position: absolute;
  bottom: 30px;
  right: 60px;
}
